
html, body {
    background-color: #f3f4f5
}

px2rem(a) {
  unit(a / 37.5, 'rem')
}

bg-image($width,$height,$url){
    display: inline-block;
    width: px2rem($width);
    height: px2rem($height);
    background: left top / 100% 100% no-repeat;
    background-size: 100% 100%;
    background-image: url($url + "@2x.png");
    // 默认不加载 3倍图
    // @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    //   background-image: url($url + "@3x.png")
    // }
}

virgin-icon() {
    bg-image(60, 60, '../img/logo-virgin')
}

cierto-icon() {
    bg-image(60, 60, '../img/logo-cierto')
}

unefon-icon() {
    bg-image(60, 60, '../img/logo-unefon')
}

tuenti-icon() {
    bg-image(60, 60, '../img/logo-tuenti')
}

telcel-icon() {
    bg-image(60, 60, '../img/logo-telcel')
}

movistar-icon() {
    bg-image(60, 60, '../img/logo-movistar')
}

maztiempo-icon() {
    bg-image(60, 60, '../img/logo-maztiempo')
}

iusacell-icon() {
    bg-image(60, 60, '../img/logo-iusacell')
}

att-icon() {
    bg-image(60, 60, '../img/logo-att')
}

alo-icon() {
    bg-image(60, 60, '../img/logo-alo')
}





// 传入 border的颜色
real1px(color){
    position: relative
    &::before {
        content: '';
        position: absolute;
        border: 1px solid color;
        transform-origin: 0 0;
        box-sizing: border-box;

        @media screen and (max-resolution: 2dppx) {
            width: 200%;
            height: 200%;
            transform: scale(1 / 2, 1 / 2);
        }

        @media screen and (min-resolution: 3dppx) {
            width: 300%;
            height: 300%;
            transform: scale(1 / 3, 1 / 3);
        }

        @media screen and (min-resolution: 4dppx) {
            width: 400%;
            height: 400%;
            transform: scale(1 / 4, 1 / 4);
        }

    }
}


// 列表的以后箭头

rightArrow($right, $color, $width) {
    &:after {
        content ""
        position absolute
        width: $width
        height $width
        border-top: 1px solid $color
        border-right 1px solid $color
        top 50%
        right: $right
        display: inline-block
        transform: translate(-50%, 0)
        transform: rotate(45deg)
    }
}


close-btn($color, $width){
    width 20px
    height @width
    display: inline-block
    position: relative
    &:before {
        position: absolute;
        content: '';
        width: $width;
        height: 2px;
        background: $color;
        transform: rotate(45deg);
        top: 50%;
        left: 0;
    }
    &:after{
        content: '';
        position: absolute;
        width: $width;
        height: 2px;
        background: $color;
        transform: rotate(-45deg);
        top: 50%;
        left: 0;
    }
}
